.headerHero {
  // margin-top: 5rem;
}
.headerHeroHeading {
  font-family: Mark Pro, sans-serif;
  font-size: 9rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-white);
  position: relative;
  font-weight: 600;
}
.headingGradient {
  background: -webkit-linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-purple),
    var(--color-light-blue),
    var(--color-light-purple)
  );
  background: linear-gradient(
    -45deg,
    var(--color-light-blue),
    var(--color-light-purple),
    var(--color-light-blue),
    var(--color-light-purple)
  );
  // TODO: use mixin for animation
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}
.heroCTA {
  margin-top: 5rem;
  display: inline-block;
  font-family: Sofia Sans Extra Condensed, sans-serif;
  font-size: 2rem;
  line-height: 92.4%;
  letter-spacing: 0.19em;
  color: var(--color-gray);
  text-decoration: none;
  position: relative;
  // TODO: use mixin for animation

  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: var(--color-gray);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.item_1 {
  position: fixed;
  top: 3rem;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42, 43, 56, 0.5);
  border: 0.2rem solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 1.5rem;
}
