.main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax("min-content", 10rem)) 1fr;
  // row-gap: 11rem;
  // padding: 0 20%;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26rem;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../public/hand-left.webp);
  }
}
.header {
  // grid-column: 2/14;
}
.navigationWrapper {
  grid-column: 5/14;
}
.headerWrapper {
  grid-column: 5/14;
}
