html {
  font-size: 58%;
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
}
body {
  font-family: Circular Std Book, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background: #10101a;
  background-size: 400% 400%;
}
* {
  &::after {
    margin: 0;
    padding: 0;
  }
  &::before {
    margin: 0;
    padding: 0;
  }
}
// TODO: Add dark theme
